@page "/"

<PageTitle>Books</PageTitle>

<UseGetBooks Context="result" Strategy="ExecutionStrategy.CacheFirst">
    <ChildContent>
        @if (result.Books?.Items is not null) 
        {
            @foreach(var book in result.Books.Items) 
            {
                <p>@book.Title</p>        
            }
        }
    </ChildContent>
    <LoadingContent>
        Loading...
    </LoadingContent>
</UseGetBooks>